@media (max-width: 1260px) {
  .header,
  .main {
    padding: 0 20px;
  }

  .list {
    gap: 0;
    row-gap: 3px;
  }
}

@media (max-width: 1180px) {
  .title {
    font-size: 3em;
  }

  .eventsContainer {
    width: 50%;
  }

  .developmentItem {
    width: 100%;
  }

  .social {
    width: 50%;
    align-items: flex-end;
  }

  .videos {
    padding: 10px 0 10px;
  }

  .videosTitle {
    padding: 10px 20px 0;
    margin-bottom: 20px;
  }

  .videoList {
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 5px;
    padding: 0 15px 10px;
  }

  .videoList:-webkit-scrollbar {
    width: 0;
  }

  .listVideoItem {
    height: 190px;
    max-width: 270px;
    min-width: 270px;
  }
}

@media (max-width: 900px) {
  .section {
    margin-bottom: 0;
  }

  .navWrapper {
    flex-direction: column;
  }

  .titleLink {
    font-size: 0.85em;
  }

  .eventsContainer {
    width: 100%;
    margin-bottom: 40px;
    max-width: none;
  }

  .social {
    width: 100%;
    align-items: center;
  }

  .boxNews {
    width: 70%;
  }

  .listItemTitleBig {
    font-size: 2.5em;
  }

  .listItemTitleSmall {
    font-size: 1.5em;
  }

  .listItemTitleText {
    font-size: 0.9em;
  }

  .titleText {
    font-size: 1em;
  }

  .listVideoItem {
    height: 150px;
    max-width: 200px;
    min-width: 200px;
  }

  .developmensBottom {
    padding: 0 0 10px;
    justify-content: flex-start;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .listItemTitleBig {
    font-size: 2.5em;
  }

  .listItemTitleSmall {
    font-size: 1.2em;
  }

  .listItemTitleText {
    font-size: 0.7em;
  }
}

@media (max-width: 600px) {
  .header,
  .main {
    padding: 0;
  }

  .container {
    padding: 0 20px;
  }

  .headerInfo {
    font-size: 0.6em;
  }

  .headerLink {
    margin-left: 10px;
  }

  .articleName {
    font-size: 2.7em;
  }

  .nameMain {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 20px;
  }

  .nameMain:-webkit-scrollbar {
    width: 0;
  }

  .title {
    font-size: 2em;
  }

  .textContent {
    font-size: 1em;
  }

  .content {
    padding: 0 20px;
  }

  .titleText {
    font-size: 14px;
  }

  .listItem:nth-child(1) {
    order: 1;
    flex-basis: 100%;
  }

  .listItem:nth-child(2) {
    order: 4;
    flex-basis: 100%;
  }

  .listItem:nth-child(3) {
    order: 2;
    flex-basis: 50%;
  }

  .listItem:nth-child(4) {
    order: 3;
    flex-basis: 50%;
  }

  .listItem:nth-child(5) {
    order: 5;
    flex-basis: 50%;
  }

  .listItem:nth-child(6) {
    order: 6;
    flex-basis: 50%;
  }

  .show {
    display: none;
  }

  .allWidth {
    max-width: none;
  }

  .linksContainer:first-child {
    order: 2;
  }

  .socialTitle:not(:last-child) {
    width: 50%;
  }

  .listVideoItem {
    height: 120px;
    max-width: 155px;
    min-width: 155px;
  }

  .btnUpload {
    width: 250px;
  }

  .footer {
    font-size: 0.7em;
  }
}
