* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #13210d;
}

.header,
.main {
  max-width: 1200px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.container {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navHeader {
  display: flex;
  justify-content: space-around;
}

.headerInfo {
  display: flex;
  color: #808080;
  align-self: center;
  font-size: 1em;
}

.headerLink {
  align-self: center;
  margin-left: 40px;
}

.articleName {
  text-align: center;
  font-size: 5em;
  width: 100%;
  line-height: 1.8;
}

.nameMain {
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #13210d;
  border: 1px solid #808080;
  padding: 20px 40px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.titleLink {
  color: #f3e1e1;
  white-space: nowrap;
  margin-right: 40px;
}
.titleLink:last-child {
  margin-right: 0;
}

.title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 3.5em;
}

.textContent {
  margin-bottom: 40px;
  font-size: 1.5em;
}

.footer {
  width: 100%;
  background-color: #13210d;
  color: #f3e1e1;
  text-align: center;
  padding: 60px 0;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.listBigImg,
.listSmallImg {
  position: relative;
  width: 100%;
}

.listItemTitleBig {
  font-weight: 400;
  font-size: 3.5em;
}

.listItemTitleSmall {
  font-weight: 400;
  font-size: 2em;
}

.listItemText {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.listItemTextMaxWidth {
  width: 90%;
}

.listBigImg {
  display: flex;
  flex-grow: 1;
  flex-basis: 50%;
  max-width: 596px;
}

.listSmallImg {
  display: flex;
  flex-grow: 1;
  max-width: 294px;
  max-height: 177px;
  flex-basis: 25%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 40px;
}

.navWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  gap: 40px;
  width: 30%;
}

.linksContainer {
  max-width: 350px;
  width: 100%;
  padding: 20px;
  border: 1px solid #11725a80;
}

.maxHeight {
  height: 100%;
}

.socialTitle {
  border-bottom: 1px solid #11725a80;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.titleText {
  font-size: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}

.borderBottom {
  display: inline;
  border-bottom: 3px solid #000;
  padding-bottom: 4px;
}

.socialWrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.socialMedia {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socialMediaImg {
  width: 3em;
  margin-bottom: 20px;
}

.userWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.info,
.userInfoProfession {
  font-size: small;
  color: #11725a80;
}

.newsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: inherit;
}

.itemAvatarWrapper {
  position: relative;
  height: 80px;
  width: 80px;
}

.avatar {
  position: absolute;
  overflow: hidden;
  width: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #11725a80;
}

.img {
  display: flex;
  align-items: center;
  width: 75px;
  margin-right: 10px;
}

.userInfo,
.newsInfo {
  display: inherit;
  flex-direction: column;
}

.marginUserInfo {
  align-self: center;
  margin-left: 10px;
}

.boxNews {
  margin-bottom: 15px;
  width: 50%;
}

.itemNew {
  font-size: 15px;
  margin-bottom: 10px;
}

.imgNew {
  width: 103px;
}

.itemDate {
  font-size: 12px;
}

.eventsContainer {
  display: flex;
  max-width: 810px;
  width: 67%;
  border: 1px solid #11725a80;
  flex-direction: column;
  padding: 20px;
}

.sectionTitle {
  padding: 10px 10px 0;
}

.developmensHeader {
  display: inherit;
  padding: 30px 10px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.developmentItem {
  display: inherit;
  flex-direction: column;
  width: 360px;
  margin-bottom: 30px;
}

.developmentItemHeader {
  display: inherit;
  position: relative;
  height: 220px;
  width: 100%;
  align-items: end;
  margin-bottom: 5px;
}

.bgEducation {
  background: url("../images/Tile-Big-01.png") no-repeat center / cover;
}

.bgLessons {
  background: url("../images/Tile-Big-02.png") no-repeat center / cover;
}

.bgLecturers {
  background: url("../images/Tile-Big-03.png") no-repeat center / cover;
}

.bgProgram {
  background: url("../images/Tile-Big-04.png") no-repeat center / cover;
}

.developmentItemHeaderTheme {
  display: inherit;
  position: absolute;
  bottom: -1px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 30px;
  text-transform: uppercase;
}

.bgBlueviolet {
  background: #8a2be2;
}

.bgGreen {
  background: #398a39;
}

.bgLilas {
  background: #c8a2c8;
}

.bgLightgreen {
  background: #83f083;
}

.developmentItemBottomText {
  margin-top: 5px;
  color: #11725a80;
}

.developmensBottom {
  display: inherit;
  justify-content: center;
  padding: 40px;
}

.button {
  background: #0eb30e;
  border: none;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.btnUpload {
  height: 70px;
  width: 250px;
}

.btnSubmit {
  height: 50px;
  width: 120px;
  margin-left: auto;
}

.videos {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ede2e2;
  padding: 30px;
  margin-bottom: 40px;
}

.videosTitle {
  margin-bottom: 40px;
}

.btSmall {
  display: flex;
  max-width: 85px;
  border-bottom: 1.5px solid #000;
}

.listVideoItem {
  display: flex;
  height: 190px;
  width: 270px;
}

.videoItem {
  width: 100%;
}

.bgPhoto {
  background: url("../images/video-01.png") no-repeat center / cover;
}

.bgFier {
  background: url("../images/video-02.png") no-repeat center / cover;
}

.bgHouse {
  background: url("../images/video-03.png") no-repeat center / cover;
}

.bgPeople {
  background: url("../images/video-04.png") no-repeat center / cover;
}

.registrationForm {
  display: flex;
  flex-direction: column;
}

.fieldset {
  border: none;
}

.legend {
  width: 100%;
}

.infoForm {
  font-size: 15px;
  color: #084939b9;
  margin-bottom: 20px;
  font-weight: bold;
}

.mrbThirty {
  margin-bottom: 30px;
}

.fieldContainer {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  border: 1px solid #11725a80;
  border-radius: 5px;
  padding: 0 10px;
  line-height: 3;
}

.input:hover {
  outline: auto;
  outline-color: #119cb480;
  cursor: pointer;
}

.input:focus {
  outline-color: #8d0f0f96;
  cursor: text;
}

.input:active {
  outline-color: #059936a2;
}

.button:hover {
  background: #045e04;
  border: 1px solid #044737;
  border-radius: 20px;
}

.button:active {
  background: #4b0ab4;
  border: 1px solid #94082b;
  border-radius: 10px;
}

img {
  width: 100%;
}